.addCityForm {
    padding: 2rem;
    font-size: 1.25rem;
    margin-top: 2rem;
}

.addCityForm form > div {
    margin-bottom: 2.5rem;
}

.addCityForm label {
    font-weight: bold;
    margin-bottom: 0.8rem;
    display: inline-block;
}

.addCityForm input,
.addCityForm textarea {
    border: 1px solid var(--color-main-yellow);
}

.buttonBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonBox button[type="primary"] {
    background-color: var(--color-main-yellow);
    padding: 1rem 1.5rem;
    border-radius: var(--radius-sm);
}

.buttonBox button[type="primary"]:hover {
    opacity: 0.9;
}